@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

.ff-pop {
    font-family: 'Poppins', sans-serif;
}

.ff-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* ===============font-weight============ */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* =================line-height========== */
.lh-19 {
    line-height: 19.5px;
}

.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

.lh-27 {
    line-height: 27px;
}

.lh-29 {
    line-height: 29px;
}

.lh-30 {
    line-height: 30.15px;
}

.lh-33 {
    line-height: 33px;
}

.lh-37 {
    line-height: 37px;
}

.lh-30 {
    line-height: 30px;
}

.lh-41 {
    line-height: 41px;
}

.lh-45 {
    line-height: 45px;
}

.lh-65 {
    line-height: 65px;
}

.lh-62 {
    line-height: 62px;
}

.lh-68 {
    line-height: 68px;
}

/* ==================nav============= */
.hero_bg {
    background-image: url(/assets/images/svg/hero-bg-img.svg);
    background-size: cover;
    background-position: center;
}

.opacity70 {
    opacity: 0.7;
}

.opacity50 {
    opacity: 0.5;
}

.opacity60 {
    opacity: 0.6;
}

.pt_26 {
    padding-top: 26px;
}

.gap-40 {
    gap: 40px;
}

.btn_style {
    padding: 10px 31px;
    background: var(--clr-white);
    border-radius: 45.5px;
    border: 2px solid transparent;
}

.cross span:nth-child(1) {
    transform: rotate(50deg) translateY(26px);
    transition: all 300ms linear;
    position: relative;
    top: -7px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-52deg) translateY(-27px);
    transition: all 300ms linear;
    position: relative;
    top: 1px;
}

.underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--clr-white);
    left: 50%;
    bottom: -2px;
    transition: 0.2s linear;
    transform: translateX(-50%);
}

.underline:hover::after {
    width: 100%;
}

.transition {
    transition: 0.2s linear;
}

/* =============mint-your-bat============ */
.ellips_property {
    width: 337px;
    height: 337px;
    background: #009DFF;
    filter: blur(170px);
}

.mint_section_ellip1 {
    left: 22%;
    top: 31%;
}

.mint_section_ellip2 {
    top: 34%;
    right: -231px;
}

.pb_138 {
    padding-bottom: 138px;
}

.max_w_574 {
    max-width: 574px;
}

.line_through {
    text-decoration: line-through !important;
}

.gif_btn_style {
    padding: 10px 20px;
    background: var(--clr-white);
    border-radius: 45.5px;
    border: 2px solid transparent;
    transition: all 0.2s linear;
}

.gif_btn_style_hover:hover {
    box-shadow: 10px 10px 19px -4px var(--clr-white);
    background: var(--clr-black);
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
}

.mb_0 {
    margin-bottom: 0;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mt_20 {
    margin-top: 20px;
}

.gap_23 {
    gap: 23px;
}

.max_w_149 {
    max-width: 149px;
}

.zoom {
    transition: 0.2s linear;
}

.zoom:hover {
    scale: 1.3;
}

/* ======================collection-cards============== */

.max_w_347 {
    max-width: 347px;
}

.collection_card {
    max-width: 426px;
    min-height: 511px;
    padding: 10px 20px;
    background: var(--clr-cardsblue);
    border-radius: 20px;
    height: 100%;
    cursor: pointer;
    transition: 0.2s linear;
}

.collection_card:hover img {
    scale: 1.3;
}

.row_gap_collection_cards {
    row-gap: 41px;
}

/* ======================rodmap================ */
.rodmap_ellip_left {
    left: -15%;
    top: 25%;
}

.pt_20 {
    padding-top: 20px;
}

.pb_10 {
    padding-bottom: 10px;
}

.pb_sm_63 {
    padding-bottom: 40px;
}

.pb_0 {
    padding-bottom: 0;
}

.align_items_sm_end {
    align-items: end;
}

.text_end {
    text-align: end;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    top: 0;
    bottom: -19px;
    left: 50%;
    margin-left: -3px;
    border-radius: 20px;
    background-image: url(/assets/images/png/timeline-line.png);
    background-size: cover;
    background-position: center;
}

.timeline_container {
    padding: 0 60px 0 60px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background: var(--clr-timelineblue);
    border: 3.23px solid var(--clr-white);
    top: 0;
    border-radius: 50%;
    z-index: 1;
    outline: 11px solid var(--clr-timeline-outline);
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -14px;
}

/* ===================para=============== */
.max_w_768 {
    max-width: 768px;
}

.pb_50 {
    padding-bottom: 50px;
}

/* =================accordion============= */
.max_w_800 {
    max-width: 800px;
}

.accordion_ellip_position {}

.accordion-item {
    background: var(--clr-bodyBlue);
}

.accordion-button:not(.collapsed) {
    background: var(--clr-accBlue);
    color: var(--clr-white);
}

.accordion-button {
    background: var(--clr-accBlue);
    border-radius: 200px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    padding: 0 30px 20px 30px;
}

.accordion {
    --bs-accordion-border-color: transparent;
    max-width: 830px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: 200px;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 200px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/svg/bottom-arrow.svg);
    background-position: center;
}

.accordion-button::after {
    background-image: url(/assets/images/svg/bottom-arrow.svg);
    background-position: center;
}


@media screen and (max-width: 768px) {
    .align_items_start {
        align-items: start;
    }

    .text_start {
        text-align: start;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-black);
    }

    .menuIcon {
        width: 30px;
        /* position: relative; */
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 300ms linear;
        z-index: 4;
    }

    .menuIcon>span {
        height: 4px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }

    .footer_bg_img {
        background: var(--clr-accBlue);
    }
}

@media (min-width:576px) {
    .mb_sm_28 {
        margin-bottom: 28px;
    }

    .mt_sm_30 {
        margin-top: 30px;
    }

    .mb_sm_24 {
        margin-bottom: 24px;
    }

    .pb_sm_65 {
        padding-bottom: 65px;
    }

    .pt_sm_50 {
        padding-top: 50px;
    }

    .lh-sm-40 {
        line-height: 40.8px;
    }

    .pt_sm_60 {
        padding-top: 60px;
    }

    .pb_sm_40 {
        padding-bottom: 40px;
    }
    .max_w_sm_293{
        max-width: 293px;
    }
}

@media (min-width:768px) {
    .mb_md_27 {
        margin-bottom: 27px;
    }

    .mb_md_46 {
        margin-bottom: 46px;
    }

    .pb_md_63 {
        padding-bottom: 63px;
    }

    .max_w_404 {
        max-width: 404px;
    }

    .mb_md_25 {
        margin-bottom: 25px;
    }

}

@media (min-width:992px) {
    .pb_lg_100 {
        padding-bottom: 100px;
    }

    .gap_lg_80 {
        gap: 80px;
    }

    .lh-lg-86 {
        line-height: 86px;
    }

    .btn_style {
        padding: 16px 41px;
    }

    .max_w_515 {
        max-width: 515px;
    }

    .max_w_547 {
        max-width: 547px;
    }

    .mb_lg_48 {
        margin-bottom: 48px;
    }

    .mb_lg_21 {
        margin-bottom: 21px;
    }

    .mb_lg_63 {
        margin-bottom: 63px;
    }

    .mt_lg_52 {
        margin-top: 52px;
    }

    .py_lg_141_110 {
        padding-top: 141px;
        padding-bottom: 110px;
    }
}